<div class="container">
    <div class="row">
        <div class="col text-center">
        <img src="img/bpk.jpg" alt="hans" class="img-thumbnail
        rounded-circle" width="200"/> 
        <h1 class="display-4"> BPK Penabur</h1>
        <p class="lead">Iman | Ilmu | Pelayanan</p>
    </div>
  </div>
  <div class="col text-center">
  <a href="contact/add" class="btn btn-primary mt-3">Tambah Data Contact</a>
</div>
</div>